# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/ 

# ignore Appimages
*.Appimage
*.appimage

#ignore certain files

# Ignore tar.gz
*.tar.gz

#settings .json
settings.json